/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
0xEC5D7470-pub.asc
0xEC5D7470-sec.asc
0x056D8752-pub.asc
0x056D8752-sec.asc